@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

#app {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(118deg, rgba(219, 242, 39, 95) 22.5%, rgba(159, 193, 49, 76) 4%);
    font-family: Montserrat;
    overflow: hidden;
}

/* rgba(214, 213, 155, 84)
rgba(219, 242, 39, 95) yeşil
rgba(159, 193, 49, 76) +
rgba(0, 92, 83, 36)
rgba(4, 41, 64, 25) 
rgba(1, 8, 77, 30) */

.app-container {
    max-width: 480;
    width: 800px;
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    overflow: 25px;
    color: #042940;
}